/*minimal reset*/
:root {
    --darkest-blue: #012A4A;
    --dark-blue: #013A63;
    --some-dark-blue: #01497C;
    --grey-blue: #2A6F97;
    --light-grey-blue: #468FAF;
    --light-blue: #89C2D9;
    --lightest-blue: #A9D6E5;

    --darkest-yellow: #FFB700;
    --dark-yellow: #FFC300;
    --yellow: #FFD000;
    --light-yellow: #FFDD00;
    --lighest-yellow: #FFEA00;
    --pastel-yellow: #fcf6bd;
    --calm-yellow: #ffd972;

    --stor-font: 5rem;
    --h2-font: 2.5rem;
    --p-font: 1.06rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis';
}

body {
    color: black;
    background-color: var(--pastel-yellow);
}

body.darkmode {
    background-color: var(--darkest-blue);
    color: white;
}

header {
    background-color: var(--calm-yellow);
    width: auto;
    height: 70px;
    color: white;

}

.darkmode header {
    background-color: var(--light-grey-blue);
    color: white;
    text-decoration: none;

}

.ikonknapp {
    border: none;
    padding-right: 30px;
    background: none;
    font-size: 20px;
    line-height: normal;
}

.sol {
    display: none;
}

.darkmode .sol {
    display: inline-block;
}

.darkmode .maane {
    display: none;
}

header {
    width: 100%;
}

header a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.darkmode header a {
    color: white;
}

.meny {
    display: flex;
    line-height: 70px;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: row;
}

.forsidemain {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("bilder/forside.jpg");
    background-color: #cccccc;
    /* height: 780px; */
    height: calc(100vh - 70px);
    background-size: cover;
}

.overskrift {
    font-size: 50px;
    color: white;
    position: absolute;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 40px;
    height: 600px;
    justify-content: center;
}

.grid-section div {
    text-align: center;
    padding: 20px;
    align-self: center;
    justify-self: center;

}

.startbtn {
    width: 250px;
    height: 100px;
    font-size: 30px;
    border-radius: 80px;
    border: none;
    background-color: var(--calm-yellow);
    align-self: flex-end;
    margin-bottom: 20px;
}

.darkmode .startbtn {
    color: white;
    background-color: var(--grey-blue);
}

/* .hows {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.hows p {
    font-size: 35px;
    /* margin-top: 70px; }*/


/*
#pilknapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

/* .howmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    /* margin-bottom: 100px; }*/

/* 
.howmain img{
    height: 300px;
    width: 500px;
} */

.howmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5%;
    margin: 0 50px;
}

.spillere_galleri li, h1 {
    font-size: 23px;

    color: var(--lighest-yellow);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.spillere_galleri div {
    background-color: var(--lighest-yellow);
}

.spillere_galleri img{
    width: 400px;
}



/*START 2D-spill eksempler*/
#forsideid {
    padding: 70px 17%;
}

.forside {
    margin-top: 85px;
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.forsidebilde img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

.hjem-tekst h1 {
    font-size: var(--stor-font);
}

.hjem-tekst h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;

}

#DonkeyKong {
    border-radius: 5%;
    width: 100%;
}

.quizbtn {
    width: 150px;
    height: 70px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 80px;
    border: none;
    background-color: var(--calm-yellow);
}

.darkmode .quizbtn {
    color: white;
    background-color: var(--grey-blue);
}

#forsideid p {
    color: var(--primary);
    font-family: DGOR;
}

#andre-artister-section2 {
    background: white;
}

.forside-konserter-section {
    background-color: var(--primary);
}

#forside-overskrift-konserter span {
    color: white;
    text-shadow: 2px 0 var(--secondarydark), -2px 0 var(--secondarydark), 0 2px var(--secondarydark), 0 -2px var(--secondarydark),
        1px 1px var(--secondarydark), -1px -1px var(--secondarydark), 1px -1px var(--secondarydark), -1px 1px var(--secondarydark);
}

#forside-overskrift-konserter h2 {
    color: #3aa6d9;
    text-shadow: 2px 0 var(--secondarydark), -2px 0 var(--secondarydark), 0 2px var(--secondarydark), 0 -2px var(--secondarydark),
        1px 1px var(--secondarydark), -1px -1px var(--secondarydark), 1px -1px var(--secondarydark), -1px 1px var(--secondarydark);

}

.forside-konserter-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
}

.forside-konserter-box {
    text-align: center;
    padding: 20px 30px;
}

.forside-konserter-box img {
    width: 100%;
    border-radius: 10%;
}

.forside-konserter-box h3 {
    margin: 4px 0 10px;
    color: #3aa6d9;
    font-size: 1.2rem;
    font-family: DGOR;

}

.forside-konserter-box p {
    line-height: 1.7;
    font-family: DGOR;
    color: white;
    text-shadow: 2px 0 var(--secondarydark), -2px 0 var(--secondarydark), 0 2px var(--secondarydark), 0 -2px var(--secondarydark),
        1px 1px var(--secondarydark), -1px -1px var(--secondarydark), 1px -1px var(--secondarydark), -1px 1px var(--secondarydark);
}

/*SLUTT 2D-SPill eksempler*/




#footer-main {
    background-color: var(--calm-yellow);
    color: black;
    padding: 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 50px;
}

footer section {
    padding: 50px 0;
    border-bottom: none;
}

.footer_symboler {
    padding: 20px;
    align-items: center;
    font-size: 30px;
}

.darkmode #footer-main {
    background-color: var(--light-grey-blue);
    color: white;
}

iframe {
    display: none;
}